<div class="loader">
  <div class="loader__overlay" *ngIf="loading"></div>
  <div class="loader__content" *ngIf="loading">
    <i class="fa fa-circle-o-notch fa-spin fa-fw" [ngClass]="{ 'fa-3x' : !small }"></i>
  </div>
  <ng-content></ng-content>
</div>