<app-loader [loading]="isLoading">
  <div class="container">
    <h2>{{ 'POC' | translate }} : {{ 'OPEN_TERMINAL' | translate }}</h2>
    <app-terminal-opener (load)="onEmit($event)"></app-terminal-opener>
    <app-language-manager></app-language-manager>
  </div>
</app-loader>