<div class="container">
  <div class="row">
    <div class="col-md-4">
      <select [ngModel]="currentTerminal" class="custom-select" (ngModelChange)="setCurrentTerminal($event)">
        <option *ngFor="let t of terminalList" [ngValue]="t">{{ t.name }}</option>
      </select>
    </div>  
    <div class="offset-md-6 col-md-2">
      <button class="btn btn-primary" (click)="openTerminal()">{{ 'OPEN' | translate }} {{ currentTerminal.name }}</button>
    </div>
  </div>
</div>