<div class="container margin-top">
    <div class="row">
      <div class="col-md-4">
        <select [(ngModel)]="currentLang" class="custom-select">
          <option *ngFor="let l of langList" [ngValue]="l">{{ l }}</option>
        </select>
      </div>  
      <div class="offset-md-6 col-md-2">
        <button class="btn btn-primary" (click)="changeLang()">{{ 'CHANGE_LANGUAGE' | translate }}</button>
      </div>
    </div>
  </div>